*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-toyota-prius {
  background-image: url("../../src/assets/img/toyota-prius.png");
}

.bg-jeep-wrangler {
  background-image: url("../../src/assets/img/jeep-wrangler.png");
}
