// MAT-BUTTON
.mat-button-disabled {
  cursor: not-allowed !important;
}

// MAT-TABLE
.mat-header-row {
  height: 48px;
}

.mat-cell {
  height: 56px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-width: 0 !important;
}

.mat-row {
  padding-top: 8px;
  padding-bottom: 8px;

  &:nth-child(odd) {
    background-color: #F7F8F9;
  }

  &:nth-child(even) {
    background-color: transparent;
  }

  &:hover {
    background-color: #EAEEF2;
    cursor: pointer;
  }
}

// MAT-CHECKBOX
.mat-checkbox-disabled {
  &:hover {
    cursor: not-allowed;
  }
}

// MAT-ERROR
mat-error:not(:first-of-type) {
  display: none;
}

// MAT-SNACKBAR
.mat-snack-bar-container {
  &.error-notification {
    background-color: red;
    color: white;
  }

  &.success-notification {
    background-color: green;
    color: white;
  }

  .mat-button {
    color: white;
  }
}
