<h1 mat-dialog-title class="text-2xl font-bold">Car request</h1>

<div mat-dialog-content class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <div class="flex flex-col mr-auto ml-auto sm:mr-0 sm:ml-0">
    <div class="flex flex-col mb-6">
      <h3 class="text-xl mb-4 font-bold">Car</h3>
      <div class="w-52 h-28 bg-contain bg-no-repeat"
           [class]="'bg-' + dialogData?.car?.brand + '-' + dialogData?.car?.model">
      </div>
      <span class="mt-2 text-lg font-bold capitalize" data-testid="car-brand-model">
        {{dialogData?.car | carName}}
      </span>
    </div>
    <div class="flex flex-col mb-4">
      <span class="text-gray-500">Start</span>
      <span class="font-bold"
            data-testid="reservation-start-date">
        {{(reservationDetails$ | async)?.startDate | date:'EEEE, MMMM d, y' }}
      </span>
    </div>
    <div class="flex flex-col mb-4">
      <span class="text-gray-500">End</span>
      <span class="font-bold"
            data-testid="reservation-end-date">
        {{(reservationDetails$ | async)?.endDate | date:'EEEE, MMMM d, y' }}
      </span>
    </div>
    <div class="flex flex-col mb-4">
      <span class="text-gray-500">Delivery/Return</span>
      <span class="font-bold break-words inline-block w-52" data-testid="reservation-address">
        {{(reservationDetails$ | async)?.address}}
      </span>
    </div>
    <div class="flex flex-col">
      <span class="text-gray-500">Driving days</span>
      <span class="font-bold" data-testid="reservation-driving-days">
        {{(reservationDetails$ | async)?.drivingDays}}
      </span>
    </div>
  </div>

  <div class="flex flex-col">
    <h3 class="text-xl mb-4 font-bold">Accessories</h3>
    <div class="h-full flex flex-col justify-between">
      <car-accessory *ngFor="let accessory of (allAccessories$ | async)"
                     [accessory]="accessory">
      </car-accessory>
    </div>
  </div>
</div>

<div mat-dialog-actions
     class="flex flex-col sm:flex-row flex-nowrap justify-between mt-4 border-solid border-t border-gray-300">
    <span class="text-gray-500 mb-2 sm:mb-0">Additional charge:
      <span class="text-black font-bold">${{ (selectedAccessories$ | async) | additionalCharge }}</span>
    </span>
  <div>
    <button mat-raised-button type="button" color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="button" color="primary" class="ml-4" (click)="submitAccessories()">
      Confirm & book
    </button>
  </div>
</div>
