<h1 mat-dialog-title class="text-2xl font-bold">Car request</h1>

<div mat-dialog-content class="grid grid-cols-2 gap-2">
  <div class="flex flex-col">
    <div class="flex flex-col mb-6">
      <h3 class="text-xl mb-4 font-bold">Car</h3>
      <div class="w-52 h-28 bg-contain bg-no-repeat bg-toyota-prius"></div>
      <span class="text-lg font-bold mt-2">Toyota Prius</span>
    </div>
    <div class="flex flex-col mb-4">
      <span class="opacity-70">Start</span>
      <span class="font-bold">Mon., Sep. 26 at 9:00 AM</span>
    </div>
    <div class="flex flex-col mb-4">
      <span class="opacity-70">End</span>
      <span class="font-bold">Mon., Sep. 26 at 10:00 PM</span>
    </div>
    <div class="flex flex-col mb-4">
      <span class="opacity-70">Delivery/Return</span>
      <span class="font-bold">Home (82 Mayflower Court Spring Valley, CA 91977)</span>
    </div>
    <div class="flex flex-col">
      <span class="opacity-70">Driving days</span>
      <span class="font-bold">1</span>
    </div>
  </div>

  <div class="flex flex-col">
    <h3 class="text-xl mb-4 font-bold">Accessories</h3>
    <div class="flex flex-col">
      <div class="car-accessory mb-3">
        <div class="flex flex-col">
          <span class="font-bold">Dog car seat hammock</span>
          <span class="opacity-70 text-sm">Price: $10</span>
        </div>
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
      <div class="car-accessory mb-3">
        <div class="flex flex-col">
          <span class="font-bold">Snow chains</span>
          <span class="opacity-70 text-sm">Price: $25</span>
        </div>
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
      <div class="car-accessory">
        <div class="flex flex-col">
          <span class="font-bold">Surfboard rack & key lockbox</span>
          <span class="opacity-70 text-sm">Price: $10</span>
        </div>
        <mat-checkbox color="primary"></mat-checkbox>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="flex flex-row flex-nowrap justify-between mt-4 border-solid border-t border-gray-300">
  <div class="flex flex-col mr-3">
    <span class="opacity-70">Additional charge: <span class="font-bold">$25</span></span>
  </div>
  <button mat-raised-button type="button" color="primary">Confirm & book</button>
</div>
