html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
  .page-title {
    @apply text-3xl font-bold mb-6 ml-1;
  }

  .content-container {
    @apply bg-white p-8 border-solid border rounded-lg border-gray-300;
  }
}
