<h1 mat-dialog-title class="pb-4 text-2xl font-bold border-solid border-b-2 border-gray-300">Trip details</h1>

<div mat-dialog-content class="flex flex-col justify-between">
  <div class="mb-5">
    <h3 class="section-title">Trip start</h3>
    <div class="section-container">
      <div class="stat-container">
        <span class="stat-title">START DATE</span>
        <span>{{dialogData?.trip?.details?.startDate | date: 'd/M/yy'}}</span>
        <span class="text-sm text-gray-500">{{dialogData?.trip?.details?.startDate | date: 'EEEE'}}</span>
      </div>
      <div class="stat-container">
        <span class="stat-title">START TIME</span>
        <span>{{dialogData?.trip?.details?.startDate | date: 'hh:mm a'}}</span>
      </div>
      <div class="stat-container">
        <span class="stat-title">START LOCATION</span>
        <span>{{dialogData?.trip?.details?.address}}</span>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <h3 class="section-title">Trip end</h3>
    <div class="section-container">
      <div class="stat-container">
        <span class="stat-title">END DATE</span>
        <span>{{dialogData?.trip?.details?.endDate | date: 'd/M/yy'}}</span>
        <span class="text-sm text-gray-500">{{dialogData?.trip?.details?.startDate | date: 'EEEE'}}</span>
      </div>
      <div class="stat-container">
        <span class="stat-title">START TIME</span>
        <span>{{dialogData?.trip?.details?.endDate | date: 'hh:mm a'}}</span>
      </div>
      <div class="stat-container">
        <span class="stat-title">END LOCATION</span>
        <span>{{dialogData?.trip?.details?.address}}</span>
      </div>
    </div>
  </div>
  <div>
    <div class="section-container">
      <div class="col-span-2 flex flex-col">
        <h3 class="section-title">Car</h3>
        <span class="stat-title">MODEL</span>
        <span class="capitalize">{{dialogData?.trip?.car?.brand + ' ' + dialogData?.trip?.car?.model}}</span>
        <span class="mt-2 stat-title">ACCESSORIES</span>
        <span class="w-4/5">
          <ng-container *ngFor="let accessory of dialogData?.trip?.accessories; let last = last">
            <ng-template [ngIf]="!last">
              {{accessory.name + ', '}}
            </ng-template>
            <ng-template [ngIf]="last">
              {{accessory.name}}
            </ng-template>
          </ng-container>
        </span>
      </div>
      <div class="flex flex-col">
        <h3 class="section-title">Extra charge</h3>
        <div class="flex flex-col">
          <div class="extra-charge-row-container mb-2">
            <span class="stat-title">ITEM</span>
            <span class="stat-title">CHARGE</span>
          </div>
          <div *ngFor="let accessory of dialogData?.trip?.accessories" class="extra-charge-row-container">
            <span>{{accessory?.name}}</span>
            <span>${{accessory?.price}}</span>
          </div>
          <mat-divider class="border-black mt-2 mb-2"></mat-divider>
          <div class="extra-charge-row-container">
            <span class="font-bold">Total amount</span>
            <span class="font-bold">${{dialogData?.trip?.additionalCharge}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button type="button" color="primary" class="ml-auto" mat-dialog-close>OK</button>
</div>
