<aside class="h-full py-4 flex flex-col bg-blue-900">
  <!-- Sidebar Logo -->
  <section class="flex items-center px-2.5">
    <div class="w-16 h-16 mr-4 bg-contain bg-no-repeat bg-app-logo"></div>
    <h2 class="text-white text-2xl">Get-a-car</h2>
  </section>

  <mat-nav-list class="mt-8">
    <mat-list-item class="sidebar-option"
                   disableRipple
                   [routerLink]="['/request']"
                   routerLinkActive="sidebar-option-active">
      <mat-icon matListIcon class="mr-2">directions_car</mat-icon>
      <h4>Request a car</h4>
    </mat-list-item>

    <mat-list-item class="sidebar-option"
                   disableRipple
                   [routerLink]="['/nav']"
                   routerLinkActive="sidebar-option-active">
      <mat-icon matListIcon class="mr-2">navigation</mat-icon>
      <h4>My trips</h4>
    </mat-list-item>

    <mat-list-item class="sidebar-option"
                   disableRipple
                   [routerLink]="['/pay']"
                   routerLinkActive="sidebar-option-active">
      <mat-icon matListIcon class="mr-2">payments</mat-icon>
      <h4>Plan & Payment</h4>
    </mat-list-item>

    <mat-list-item class="sidebar-option"
                   disableRipple
                   [routerLink]="['/address']"
                   routerLinkActive="sidebar-option-active">
      <mat-icon matListIcon class="mr-2">person</mat-icon>
      <h4>Addresses & Account</h4>
    </mat-list-item>

    <mat-list-item class="sidebar-option"
                   disableRipple
                   [routerLink]="['/referral']"
                   routerLinkActive="sidebar-option-active">
      <mat-icon matListIcon class="mr-2">local_offer</mat-icon>
      <h4>Referrals</h4>
    </mat-list-item>
  </mat-nav-list>
</aside>
