<mat-sidenav-container fullscreen>

  <!-- Sidebar -->
  <mat-sidenav class="w-60"
               [opened]="!(isSmallScreen$ | async) || (sidebarOpened$ | async)"
               [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
               (closedStart)="sidebarOpened$.next(false)">
    <sidebar-nav></sidebar-nav>
  </mat-sidenav>

  <mat-sidenav-content class="bg-gray-200">
    <mat-toolbar class="flex flex-row flex-nowrap justify-between bg-white shadow" color="">
      <button class="text-blue-900" mat-icon-button *ngIf="(isSmallScreen$ | async)" (click)="openSidebar($event)">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="!(isSmallScreen$ | async)">Request</span>
      <img src="assets/img/angular.svg"
           alt="user picture"
           class="w-12 h-12 rounded-full object-cover ml-auto cursor-pointer"
           [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Log out</button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>
