<mat-card class="h-full">
  <mat-card-header class="mb-7 flex justify-center">
    <mat-card-title class="font-bold text-2xl capitalize">{{car?.brand}} {{car?.model}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="h-5/6 flex flex-col items-center justify-between">
    <div class="w-80 h-44 bg-contain bg-no-repeat" [class]="'bg-' + car?.brand + '-' + car?.model"></div>
    <div class="w-11/12 flex flex-row justify-between">
      <div class="stat-container">
        <mat-icon color="primary" class="stat-icon">groups</mat-icon>
        <span class="stat-description">{{car?.seats}} seats</span>
      </div>
      <div class="stat-container">
        <mat-icon color="primary" class="stat-icon">
          {{car?.driveSystem === DRIVE_SYSTEM.AWD ? 'terrain' : 'apartment'}}
        </mat-icon>
        <span class="stat-description">{{car?.driveSystem}}</span>
      </div>
      <div class="stat-container">
        <mat-icon color="primary" class="stat-icon">local_gas_station</mat-icon>
        <span class="stat-description">{{car?.fuelMileage}} MPG</span>
      </div>
    </div>
    <button mat-raised-button color="primary" type="button" class="w-11/12 flex justify-center">
      Book now
    </button>
    <span class="opacity-70">Choose accessories in the next step</span>
  </mat-card-content>
</mat-card>

