<h1 class="page-title">Request a car</h1>

<div class="content-container">
  <form class="flex flex-col 2xl:flex-row justify-between" [formGroup]="form">
    <div class="w-full 2xl:w-4/12">
      <reservation-details-form></reservation-details-form>
      <car-preferences class="mt-1"></car-preferences>
    </div>
    <div class="lg:w-full 2xl:w-7/12 flex flex-col lg:flex-row flex-nowrap
                lg:flex-nowrap justify-center 2xl:justify-between">
      <car-card *ngFor="let car of (allCars$ | async)"
                [car]="car"
                [form]="form"
                (requestCar)="showRequestCarDialog(car)">
      </car-card>
    </div>
  </form>

</div>
