<h1 class="page-title">Request a car</h1>

<div class="content-container">
  <form class="flex flex-col 2xl:flex-row justify-between" [formGroup]="form">
    <reservation-details-form class="w-full 2xl:w-4/12"></reservation-details-form>
    <div class="lg:w-full 2xl:w-7/12 flex flex-col lg:flex-row flex-nowrap
                justify-center 2xl:justify-between lg:flex-nowrap">
      <car-card *ngFor="let car of (allCars$ | async)"
                [car]="car"
                [form]="form"
                (requestCar)="showRequestCarDialog(car)">
      </car-card>
    </div>
  </form>

</div>
