<div class="flex flex-col pt-4">
  <span>
    Plans include concierge delivery and pickup, cleaning and refueling service, full coverage insurance and maintenance
    - everything but gas and tolls. Join instantly and get your car right now.
  </span>
  <div class="mt-6 flex flex-col items-center xl:flex-row xl:justify-around">
    <div class="subscription-container mb-5 xl:mb-0 mat-elevation-z2">
      <span class="subscription-title mt-12">Getaway</span>
      <div class="mb-3">
        <h3 class="subscription-duration">4 days <span class="subscription-month"> /month</span></h3>
      </div>
      <div>
        <h3 class="subscription-price">$219 <span class="subscription-month"> /month</span></h3>
      </div>
      <button mat-raised-button
              class="subscription-button"
              type="button"
              color="primary">
        Downgrade to Getaway
      </button>
    </div>
    <div class="subscription-container mb-5 xl:mb-0 mat-elevation-z2 border-t-4 border-solid border-blue-700">
      <span class="mt-2 font-bold text-blue-700">Recommended</span>
      <span class="subscription-title mt-3">Freedom</span>
      <div class="mb-3">
        <h3 class="subscription-duration">8 days <span class="subscription-month"> /month</span></h3>
      </div>
      <div>
        <h3 class="subscription-price">$399 <span class="subscription-month"> /month</span></h3>
      </div>
      <button mat-raised-button
              class="subscription-button"
              type="button"
              color="primary"
              disabled>
        This is your current plan
      </button>
    </div>
    <div class="subscription-container mb-1 mat-elevation-z2">
      <span class="subscription-title mt-12">Auto pilot</span>
      <div class="mb-3">
        <h3 class="subscription-duration">12 days <span class="subscription-month"> /month</span></h3>
      </div>
      <div>
        <h3 class="subscription-price">$559 <span class="subscription-month"> /month</span></h3>
      </div>
      <button mat-raised-button
              class="subscription-button"
              type="button"
              color="primary">
        Upgrade to Auto pilot
      </button>
    </div>
  </div>
</div>
