<div class="flex flex-row flex-nowrap items-center justify-between
            p-4 border-solid border border-gray-300 mb-3 sm:mb-0">
  <div class="flex flex-row items-center">
    <div class="w-28 h-16 bg-contain bg-no-repeat"
         [class]="'bg-' + car?.brand + '-' + car?.model">
    </div>
    <div class="ml-4 flex flex-col max-w-36">
      <span class="font-bold capitalize" data-testid="car-name">{{car | carName}}</span>
      <span class="text-gray-500 text-sm"
            *ngIf="(invalidSameDayReservation$ | async) === false; else invalidSameDayReservation"
            data-testid="available-message">
        Available
      </span>
      <ng-template #invalidSameDayReservation>
        <span class="text-red-500 text-sm" data-testid="invalid-same-day-reservation-message">
          Collection time must be superior to delivery time
        </span>
      </ng-template>
    </div>
  </div>
  <mat-radio-button color="primary"
                    data-testid="radio-button"
                    (change)="toggleCarSelection()"
                    [disabled]="(reservationDetails$ | async) === null"
                    [checked]="(isCarSelected$ | async)">
  </mat-radio-button>
</div>
